<section class="text-center text-lg-start">
  <div class="container py-4">
    <div class="row g-0 align-items-center" data-aos="zoom-out-right" data-aos-duration="3000">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right bg-body-tertiary" style="backdrop-filter: blur(30px);">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">{{ 'LOGIN' | translate }}</h2>
            <form (ngSubmit)="onLogin()">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">{{ 'EMAIL' | translate }}</label>
                <input type="email" id="form3Example3" class="form-control" [(ngModel)]="email" name="email" required />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">{{ 'PASSWORD' | translate }}</label>
                <input type="password" id="form3Example4" class="form-control" [(ngModel)]="password" name="password" required />
              </div>

              <!-- Submit button -->
              <button 
                type="submit" 
                class="btn w-100 mb-3 fw-bold bg-gradient-login shadow">
                {{ 'LOGIN_BUTTON' | translate }}
              </button>


              <a href="#" class="text-decoration-none mb-3 d-block">{{ 'FORGOT_PASSWORD' | translate }}</a>
              <hr>

              <button 
                type="button" 
                class="btn w-100 mt-4 bg-gradient-register shadow"
                routerLink="/register">
                {{ 'REGISTER_BUTTON' | translate }}
              </button>

            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 image1">
        <img src="../../../assets/images/pexels-divinetechygirl-1181673.jpg" class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
</section>
